In [1]:
import pandas as pd

In [2]:
#Load CSV files
achievement = pd.read_csv('Working Files\CAMP_D1_STAAR1_final.csv')
rating = pd.read_csv('Working Files\CAMPRATE_final.csv')

In [3]:
#Merge dataframes based on CAMPUSID column
merged_df = pd.merge(achievement, rating, on='CAMPUSID')

#Print merged dataframe
print(merged_df.head())

merged_df.to_csv('merged_achievement_rating.csv', index=False)

   cda00a001219r  cda00a001319r  cda00a001s19r  cda00ar01219r  cda00ar01319r  \
0           67.0           22.0           86.0           63.0           12.0
1           57.0           26.0           82.0           57.0           36.0
2           62.0           36.0           86.0           60.0           36.0
3           63.0           25.0           80.0           51.0            9.0
4            NaN            NaN            NaN            NaN            NaN

   cda00ar01s19r  CAMPUSID       campname  cpe0312c    cpe0312p  cpetecoc  \
0           78.0   1902001     CAYUGA H S       179  100.000000        70
1           81.0   1902041  CAYUGA MIDDLE       119  100.000000        42
2           86.0   1902103      CAYUGA EL       143   53.799999       128
3           68.0   1903001    ELKHART H S       376  100.000000       187
4            NaN   1903002   ELKHART DAEP         2  100.000000         2

     cpetecop  cpetlepc  cpetlepp  cpetspec  cpetspep   grdspan
0   39.099998         0       0.0        36      20.1  '09 - 12
1   35.299999         1       0.8        13      10.9  '06 - 08
2   48.099998         0       0.0        35      13.2  'PK - 05
3   49.700001         0       0.0        43      11.4  '09 - 12
4  100.000000         0       0.0         0       0.0  '08 - 10

In [19]:
merged_df.rename({cda00a001219r : 'Meets'}, axis=1)

NameError: name 'cda00a001219r' is not defined

<bound method NDFrame.head of       cda00a001219r  cda00a001319r  cda00a001s19r  cda00ar01219r  \
0              67.0           22.0           86.0           63.0
1              57.0           26.0           82.0           57.0
2              62.0           36.0           86.0           60.0
3              63.0           25.0           80.0           51.0
4               NaN            NaN            NaN            NaN
...             ...            ...            ...            ...
8189           34.0           13.0           69.0           40.0
8190           32.0           10.0           65.0           31.0
8191           21.0            8.0           50.0           23.0
8192           31.0           10.0           66.0           36.0
8193           36.0           16.0           78.0           44.0

      cda00ar01319r  cda00ar01s19r   CAMPUSID               campname  \
0              12.0           78.0    1902001             CAYUGA H S
1              36.0           81.0    1902041          CAYUGA MIDDLE
2              36.0           86.0    1902103              CAYUGA EL
3               9.0           68.0    1903001            ELKHART H S
4               NaN            NaN    1903002           ELKHART DAEP
...             ...            ...        ...                    ...
8189           18.0           71.0  254901042  STERLING H FLY JR H S
8190           12.0           62.0  254901104   BENITO JUAREZ MIDDLE
8191            9.0           51.0  254901106              ZAVALA EL
8192           10.0           63.0  254902001           LA PRYOR H S
8193           20.0           85.0  254902101            LA PRYOR EL

      cpe0312c    cpe0312p  cpetecoc    cpetecop  cpetlepc  cpetlepp  \
0          179  100.000000        70   39.099998         0       0.0
1          119  100.000000        42   35.299999         1       0.8
2          143   53.799999       128   48.099998         0       0.0
3          376  100.000000       187   49.700001         0       0.0
4            2  100.000000         2  100.000000         0       0.0
...        ...         ...       ...         ...       ...       ...
8189       301  100.000000       251   83.400002         7       2.3
8190       299  100.000000       244   81.599998         4       1.3
8191       285   71.099998       353   88.000000        12       3.0
8192       215  100.000000       169   78.599998        14       6.5
8193       140   48.599998       250   86.800003        14       4.9

      cpetspec  cpetspep   grdspan
0           36      20.1  '09 - 12
1           13      10.9  '06 - 08
2           35      13.2  'PK - 05
3           43      11.4  '09 - 12
4            0       0.0  '08 - 10
...        ...       ...       ...
8189        43      14.3  '07 - 08
8190        31      10.4  '05 - 06
8191        50      12.5  '02 - 04
8192        26      12.1  '07 - 12
8193        32      11.1  'PK - 06

[8194 rows x 17 columns]>